<section class="block block-mt">
  <div class="container">
    <div class="title-group line-default">
      <h1 class="selected">member Login</h1>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="box p-40">
            <label><span class="text-desable">Email: </span>{{UserCo?.email}}</label>
          <form [formGroup]='User'>            
            <mat-form-field class="example-full-width">
              <input required matInput type="password" class="form-item" placeholder="Password" name="password" formControlName="password">
              <mat-error *ngIf="User.get('password').hasError('minlength') && !User.get('password').hasError('required')">
                  Min length 8
                </mat-error>
              <mat-error *ngIf="User.get('password').hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
            </mat-form-field><br/>
            <button (click)="Reload(UserCo?.email,User)" [disabled]="User.invalid" class="ht-btn bg-4f84c4">Reload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>