.selected{
    text-shadow: 1px 1px rgba(71, 70, 70, 0.575)
}
.thumb-item{
    cursor: pointer;
}
.thumb-item:hover{
    text-shadow: 1px 1px rgba(71, 70, 70, 0.575)
}
.mr{
    margin-right: 20px !important;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-chip-list {
  width: 100%;
}
.DeleteJob{
  float: right;
  font-size: 15px;
  margin-top: -30px
}
h5{
  font-size: 15px;
}
.modal-body{
  max-height: 500px;
  overflow: auto;
}